<!--<!DOCTYPE html>-->
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tantrum</title>
  {% load static %}
    <!-- Bootstrap -->
    <link href="{% static 'CoreApp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">


    <!-- Styles -->
    <link href="{% static 'CoreApp/css/gestion.css' %}" rel="stylesheet">
</head>

<body>
<div class="contenedor">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
  <h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-lower">T</span><span class="site-heading-lower">a</span><span class="site-heading-lower">n</span><span class="site-heading-lower">t</span><span class="site-heading-lower">r</span><span class="site-heading-lower">u</span><span class="site-heading-lower">m</span>
  </h1>
  <div class="contenedor header">
    <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="{% url 'Tienda' %}">Tantrum</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navegacion" id="navbarResponsive">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item {% if request.path == '/' %}active{% endif %} px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="{% url 'Tienda' %}"">Tienda</a>
        </li>
        <li class="nav-item {% if request.path == '/info/' %}active{% endif %} px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="{% url 'info' %}"">Nosotros</a>
        </li>
        <li class="nav-item px-lg-4">
          {% if user.is_authenticated %}
            <a class="nav-link text-uppercase text-expanded" href="{% url 'cerrar_sesion' %}">Hola, {{user.username}}</a><!--<a href="{% url 'cerrar_sesion' %}">Cerrar Sesion</a>-->
          {% else %}
            <a class="nav-link text-uppercase text-expanded prioritized" href="{% url  'entrar' %}">Login</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>

{% block content %}

{% endblock %}

  <!-- Footer -->
  <footer class="footer text-faded text-center py-5">
    <div class="container">
      <p class="m-0">
        <a href="#" class="link">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <a href="#" class="link">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <a href="#" class="link">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
          </span>
        </a>
    </p>
      <p class="m-0 mbt">
        <a href="sample.html" class="link">Política de privacidad</a> ·
        <a href="sample.html" class="link">Aviso legal</a> ·
        <a href="sample.html" class="link">Cookies</a>
  </p>
      <p class="m-0 mbt1">&copy; Gestión de Pedidos 2020</p>
    </div>
</footer>  
</div>

    <!-- Bootstrap -->
    <script src="{% static 'CoreApp/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'CoreApp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>


</html>